
// @import "../com/*"
@import "../com/mixin.styl"
@import "../com/value.styl"


html {
  height: 100%;
}

@media screen and (min-width: 320px) {html{font-size:50px;}}
@media screen and (min-width: 360px) {html{font-size:56.25px;}}
@media screen and (min-width: 375px) {html{font-size:58.59375px;}}
@media screen and (min-width: 400px) {html{font-size:62.5px;}}
@media screen and (min-width: 414px) {html{font-size:64.6875px;}}
@media screen and (min-width: 440px) {html{font-size:68.75px;}}
@media screen and (min-width: 480px) {html{font-size:75px;}}
@media screen and (min-width: 520px) {html{font-size:81.25px;}}
@media screen and (min-width: 560px) {html{font-size:87.5px;}}
@media screen and (min-width: 600px) {html{font-size:93.75px;}}
@media screen and (min-width: 640px) {html{font-size:100px;}}
@media screen and (min-width: 680px) {html{font-size:106.25px;}}
@media screen and (min-width: 720px) {html{font-size:112.5px;}}
@media screen and (min-width: 760px) {html{font-size:118.75px;}}
@media screen and (min-width: 800px) {html{font-size:125px;}}
@media screen and (min-width: 960px) {html{font-size:150px;}}

body {
  position: relative
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  // font-size: .32rem;
  font-size: 14px;
  background: $app-bg;
}

#app {
  color: #2c3e50;
  text-align: center;
}

.header,
.footer {
    background-color: #fff;
    z_index('n');
}
.header,
.header-sub,
.footer,
.page {
    position: absolute;
    left: 0;
    right: 0;
}
.header {
    height: $header-h;
    line-height: @height;
    top: 0;
    // border-bottom: 1px solid #b7b7b7;
    color: #fff;
    background: linear-gradient(180deg,#303036,#3c3b40);
    & ~ .page {
        padding-top: $header-h;
    }
}
.footer {
    height: $footer-h;
    bottom: 0;
    border-top: 1px solid #b7b7b7;
    background: #f2f1f0;
    & ~ .page {
        padding-bottom: $footer-h;
    }
}
.header-sub {
    top: $header-h;
    height: $headersub-h;
    line-height: @height;
    // border-bottom: 1px solid $headersub-brd;
    // background: $headersub-bg;
    z_index(2);
}
.page {
    width: 100%;
    height: 100%;
    // z_index('c');
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: $app-bg;
}
.wrapper {
    width: 100%
}
.header-sub ~ .page {
    padding-top: $header-h + $headersub-h;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.effect {
    opacity: 1;
    transition: all .3s ease;
}
.effect--30 {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
}
.effect--50 {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
}
.list:first-child {
    padding-top: 15px;
}
.item-icon {
    // dev
    background-image: url(../../images/icons.png)
    // prod
    // background-image: url(/vue-chat/static/images/icons.png)
    background-repeat: no-repeat
    background-color: transparent
}
