* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*html, body, .wrap-page {
    height: 100%;
}
.header,
.footer,
.wrap-page {
    position: absolute;
    left: 0;
    right: 0;
}*/
/* Location */
.m-center {
    margin: 0 auto;
}
.t-center {
    text-align: center;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.tips-open {
    opacity: 1;
    transition: initial;
}
.tips-close {
    opacity: 0;
    transform: scale(0);
    transition: opacity .2s ease, transform .4s ease
}
/* Font-size */
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f19 {
    font-size: 19px;
}
.f23 {
    font-size: 23px;
}
.f24 {
    font-size: 24px;
}

