z_index(mode) {
	if mode is a 'unit' {
		z-index: mode
	}
	else {
		count = arguments[1] == null ? 0 : arguments[1]
		// 一级页面的 content
		if mode == 'c' {
			z-index: 1 + count
		}
		// 一级页面的 nav
		else if mode == 'n' {
			z-index: 10 + count
		}
		// 二级页面的 content
		else if mode == 'sc' {
			z-index: 21 + count
		}
		// 二级页面的 nav
		else if mode == 'sn' {
			z-index: 30 + count
		}
		else if mode == 'm' {
			z-index: 1000
		}
		else if mode == 'p' {
			z-index: 1010
		}
		else {
			z-index: mode
		}
	}
}

trans-scaleY(s)
	-webkit-transform: scaleY(s)
	transform: scaleY(s)

trans-origin(exp)
	-webkit-transform-origin: exp
	transform-origin: exp

// placeholder-color(clr)
// 	&::-webkit-input-placeholder
// 		color: clr
// 	&:-moz-placeholder
// 		color: clr
// 	&::-moz-placeholder
// 		color: clr
// 	&:-ms-input-placeholder
// 		color: clr