@import "./mixin.styl"
@import "./value.styl"
/* Location */
.m-center {
    margin: 0 auto;
}
.t-center {
    text-align: center;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.full-page {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// width: 100vw;
	// height: 100vh;
	width: 100%;
	height: 100%;
	background: $app-bg;
}
/* Font */
// size
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f19 {
    font-size: 19px;
}
.f23 {
    font-size: 23px;
}
.f24 {
    font-size: 24px;
}
// color

// border
.brd-top {
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 1px;
		border-top: 1px solid #dfdfdd;
		color: #dfdfdd;
		trans-origin(0 0);
		trans-scaleY(0.5);
	}
}
.brd-bottom {
	position: relative;
	&:after {
		content: " ";
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 1px;
		border-bottom: 1px solid #dfdfdd;
		color: #dfdfdd;
		trans-origin(0 100%);
		trans-scaleY(0.5);
	}
}
/* Icon */
.item-icon-friendcircle {
	// background: transparent url(/static/images/icons.png) no-repeat 1px center
	background-position: 1px center
}
.item-icon-scan {
	// background: transparent url(/static/images/icons.png) no-repeat -30px center
	background-position: -30px center
}
.item-icon-shake {
	// background: transparent url(/static/images/icons.png) no-repeat -60px center
	background-position: -60px center
}
.item-icon-buy {
	// background: transparent url(/static/images/icons.png) no-repeat -88px center
	background-position: -88px center
}
.item-icon-game {
	// background: transparent url(/static/images/icons.png) no-repeat -117px center
	background-position: -117px center
}
.item-icon-program {
	// background: transparent url(/static/images/icons.png) no-repeat -147px center
	background-position: -147px center
}
.item-icon-newfriend {
	// background: #fb9d3b url(/static/images/icons.png) no-repeat -177px center
	background-position: -177px center
}
.item-icon-group {
	// background: #1aac18 url(/static/images/icons.png) no-repeat -221px center
	background-position: -221px center
}
.item-icon-tag {
	// background: #2982d8 url(/static/images/icons.png) no-repeat -265px center
	background-position: -265px center
}
.item-icon-public {
	// background: #2982d8 url(/static/images/icons.png) no-repeat -309px center
	background-position: -309px center
}

// .item-icon-friendcircle {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat 0px center
// }
// .item-icon-scan {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -30px center
// }
// .item-icon-shake {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -60px center
// }
// .item-icon-buy {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -88px center
// }
// .item-icon-game {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -117px center
// }
// .item-icon-program {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -147px center
// }
// .item-icon-newfriend {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -177px center
// }
// .item-icon-group {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -221px center
// }
// .item-icon-tag {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -265px center
// }
// .item-icon-public {
// 	background: transparent url(/static/images/icons@x3.png) no-repeat -309px center
// }

/* router-view transition effect */
.effect {
    opacity: 1;
    transition: all .3s ease;
}
.effect--30 {
    display: none;
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
}
.effect--50 {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
}
.cover-transition {
    transition: all .35s ease
    opacity: 1
}
.cover-enter,
.cover-leave {
    opacity: 0.2
    transform: translate3d(100%, 0, 0)
}
// .cover-enter {
// 	transform: translate3d(100%, 0, 0)
// }
// .cover-leave {
// 	transform: translate3d(100%, 0, 0)
// }

/* Box */
.flexbox {
	display: flex
	.flex-1 {
		flex: 1
	}
}