$gap = 10px

// size
$header-h = 44px;
$footer-h = 50px;
$headersub-h = 44px;
$indexHeight = 20px;
$chatAvatar = 48px;
$contactAvatar = 34px;

// color
$app-bg = #efeff4;
$headersub-brd = #dfdfdd;
$search-brd = #e5e5ea;
$footer-brd = #b2b2b2;
$footer-bg = #edebea;